:root { background: linear-gradient(#ffffff, #874ccf); }
@font-face {
  font-family: yerk;
  src: url(//file.garden/ZRgh3nzfnhFDJvPp/Yerk-Regular.otf);
}
@font-face {
  font-family: quantico;
  src: url(//file.garden/ZRgh3nzfnhFDJvPp/Quantico-Regular.ttf);
}
body, body > * {
  margin: auto;
}
body {
  min-height: 100vh;
  align-content: center;
  margin: 0;
  /* text-align: center; was here */
}
main {
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(to bottom right, #7233b6, #a956e4) border-box;
  border: 6px solid transparent;
  width: 600px;
  border-radius: 0.25rem;
  color: #913bca;
  > * { margin: 1em; }
}
hgroup {
  text-align: start;
  font-family: yerk !important;
}
section {
  text-align: end;
  font-family: quantico;
}
a { color: #62219f; }
table {
  border: 2px solid #913bca;
  width: 100%;
}
td {
  border: 1px solid #913bca;
  padding: 8px 10px;
  margin: 0px;
}
tr td:first-of-type {
  text-align: right;
  width: 30%;
}
tr td:last-of-type {
  text-align: left;
  width: 70%;
}
un { text-decoration: underline; }
